body{
    background:linear-gradient(135deg, #4dd3e8 0%, #0d7ca1 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    
}
h1{
    color: white;                                   
    text-align: center;
}
h3{
    color:rgb(23, 96, 213);
}
.container1{
    Display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    font-weight: bold;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    
    
}
#main-event-add-container{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
    width:30%;
    margin-top: 20px;
    border: 2px solid gray;
    border: none;
    
} 
#main-event-add-container input[type="text"], #main-event-add-container input[type="date"], #main-event-add-container input[type="time"] , #main-event-add-container select , #main-event-add-container textarea {
   
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#main-event-add-container button{
    width:100%;
    align-items: center;
    background: linear-gradient(to right, #5c7cbe, #6eb7e6);
    color: white;
    padding: 10px 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition:all 0.2s ease;
}



 #main-event-add-container, 
.event-display-section {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.event-display-section {
    width: 57%;
    margin-top: 20px;
    border: 2px solid gray;
}
#clear-event-btn, #add-sample-btn {
    width:45%;
    padding: 10px 20px;
    background: linear-gradient(to right, #5c7cbe, #6eb7e6);
    margin:10px;
    margin-left: 15px;
    margin-bottom: 40px;
    border:none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease;
}
button:active {
    transform: scale(0.98);
}

#all-events-container{
    
    display: flex;          
    flex-direction: row;    
    flex-wrap: wrap;        
    gap: 20px;              
    margin:10px;
    
    justify-content: flex-start; 

}
.delete-btn {
    position: absolute;
    right: 10px;    /* Distance from right edge */
    top: 10px;      /* Distance from top edge */
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;    /* Ensures it stays on top */
}


.doms{
    
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    margin-top: 10px;
}
h2{
    color:rgb(23, 96, 213);
}
.demo-box {
    background-color: #ddefea;
    border: 1px solid #eee;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 15px;
}
#output{
    padding-left: 20px;
    margin: 10px 0;
    background-color: white;
    width:auto;
    border:2px solid rgb(159, 159, 159);
    border-radius:8px;
}